* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.myContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #F3DFCB;
    padding: 5rem 5rem;
    width: 100%;
    height: auto;
}

.myContainer p {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 40px;
}

.footer {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.icon-container {
    display: flex;
    column-gap: 20px;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icons {
    font-size: 2.5rem;
}

.icon-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 13px;
    font-weight: 500;
    margin: 0 auto;
    position: static;
    bottom: 0;
    letter-spacing: 1px;
}

.btn-layout {
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: 0;
    background-color: #f8ece0;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

a {
    text-decoration: none;
}

a::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #F3DFCB;
}

a:hover::after {
    background-color: black;
}

.img-layout {
    width: 50%;
    height: auto;
}

.coordinates {
    background-color: bisque;
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container {
    height: 300px;
    width: 300px;
    overflow: auto;
    background-color: bisque;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.coordinates p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 50px;
}

.container p {
    height: 400px;
    width: 400px;
}