/* ----------- CSS reset ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------- */


/* ---------- body section --------- */
body {
    font-family: 'Montserrat', sans-serif;
}
/* --------------------------------- */


/* -------- container section ------- */
.myContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #F3DFCB;
    padding: 5rem 5rem;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    transition: background 0.5s ease-in-out;
}

.myContainer p {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 40px;
}

.myContainer input {
    margin: 0 10px;
}
/* --------------------------------- */


/* ---------- theme section -------- */
.button-layout {
    display: block;
    margin: 5px auto;
    width: 50%;
    padding: 10px;
    border: 0;
    outline: none;
    font-weight: 500;
    border-radius: 10px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #f8ece0;
}

code {
    text-transform: lowercase;
}
/* --------------------------------- */


/* ------- languages section ------- */
#languages {
    width: 50%;
    text-align: center;
    border: 1px solid black;
}

.lang {
    font-size: 1em;
    padding: 8px;
    letter-spacing: 1px;
    font-weight: 500;
}

.button-group {
    display: flex;
    column-gap: 3%;
    width: 50%;
    padding: 5px;
}
/* --------------------------------- */


/* --------- footer section -------- */
.copyright {
    font-size: 13px;
    font-weight: 500;
    margin: 0 auto;
    position: static;
    bottom: 0;
    letter-spacing: 1px;
}

.icon-container {
    display: flex;
    column-gap: 20px;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icons {
    font-size: 2.5rem;
}

.icon-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* --------------------------------- */